<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/assets/stylesheets/hype-bundle.css" />
      {% seo %}
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand logo d-flex align-items-center">
          </a>
        </div>
      </div>
    </header>
      
    <div class="container">
      <!-- <ul class="nav justify-content-center justify-content-md-end">
        <li class="nav-item">
          <a class="nav-link" href="https://docs.opc.ai/">
            Documentation
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/openpilot-community">
            GitHub
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://spectrum.chat/openpilot">
            Discussions
          </a>
        </li>
      </ul> -->
      {{ content }}
    </div>
  </body>
</html>
